.header {
  background-color: hsl(240, 5%, 8%);
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency {
  display: flex;
  align-items: center;
}

.headerContent button {
  margin-left: 10px;
}
