.coinsList {
  width: 100%;
  margin-top: 20px;
}

.coinsList th {
  padding: 10px;
}

.coinsDetails {
  width: 100%;
  background-color: hsla(230, 16%, 22%, 0.5);
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 570px) {
  .coinsDetails {
    font-size: 12px;
  }
}
